<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="stone0">



    <link name="base_link">
        <visual>
            <geometry>
                <mesh filename="package://gripper_model/urdf/stone/mesh/stl/stone0.stl" scale=".01 .01 .01"/>
            </geometry>
        </visual>

        <collision>
            <geometry>
                <mesh filename="package://gripper_model/urdf/stone/mesh/stl/stone0.stl" scale=".01 .01 .01"/>
            </geometry>
        </collision>

        <inertial>
            <mass value=".01"/>
            <inertia ixx=".00003" ixy="0.000" ixz="0.000" iyy=".00003" iyz="0.000" izz=".00003"/>
        </inertial>
    </link>

    <gazebo reference="base_link">
        <mu1> 1 </mu1>
        <mu2> 1 </mu2>
        <kp> 116000 </kp>
        <kd> 10000 </kd>
        <material> Gazebo/Red </material>
        <selfCollide> False </selfCollide>
    </gazebo>

</robot>
